body {
	background: white;
}

nav{
    /*Bordes redondeados*/
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
    
}

	